/assets/img/IMG_20160926_142739_Burst03.jpg
/assets/img/T_170727_0050.png
!/assets/img/favicon/*
/assets/img/portfolio/*
/assets/img/resume/*
/assets/vendor/bootstrap/*
/assets/vendor/php-email-form/*
/assets/vendor/sweetalert_2/*
